/* First lets set a background */
.sixth-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: url('https://image.winudf.com/v2/image/Y29tLmFiaGkuZm9vdGJhbGx3YWxscGFwZXJzX3NjcmVlbl8yXzE1MzExNTQ5MDlfMDE3/screen-2.jpg?fakeurl=1&type=.jpg'); */
    background: url('https://cdn.wallpapersafari.com/82/33/vEyhDl.png');
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    background-attachment: fixed;
    z-index: -2;
  }

  .lightningg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: url('https://image.winudf.com/v2/image/Y29tLmFiaGkuZm9vdGJhbGx3YWxscGFwZXJzX3NjcmVlbl8yXzE1MzExNTQ5MDlfMDE3/screen-2.jpg?fakeurl=1&type=.jpg'); */
    background: url('https://cdn.wallpapersafari.com/82/33/vEyhDl.png');
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    background-attachment: fixed;
    -webkit-filter: brightness(3);
    filter: brightness(3);
    -o-filter: brightness(3);
    -moz-filter: brightness(3);
    z-index: -1;
  }

  .flashit{
    -webkit-animation: flash ease-out 7s infinite;
    -moz-animation: flash ease-out 7s infinite;
    animation: flash ease-out 7s infinite;
    animation-delay: 2s;
    }

    @-webkit-keyframes flash {
      from { opacity: 0; } 
    92% { opacity: 0; }
      93% { opacity: 0.6; }
    94% { opacity: 0.2; }
    96% { opacity: 0.9; } 
      to { opacity: 0; }
  }
  @keyframes flash {
    from { opacity: 0; } 
    92% { opacity: 0; }
    93% { opacity: 0.6; }
    94% { opacity: 0.2; }
    96% { opacity: 1; } 
    to { opacity: 0; }
}
#sixth-logo{
  z-index:1000;
  width: 100%;
  font-size: 6rem;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -18rem;
  margin-top: -2rem;
  font-weight: 900;
}
#sixth-logo span{ font-weight: 100;}
  
  #sixth-page{
    font-family: "Titillium Web", "lato" , sans-serif;
  }
  